/* ------- Hero ------- */
.hero {
    background-image: url("../media/home/slider-1-3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    text-align: center;
    color: white;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 70% 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        ". wrapper ."
    ;
}

.hero__wrapper {
    grid-area: wrapper;
    align-items: center;
    margin: 35rem 0 10rem 0;
}

.hero__wrapper__heading {
    display: flex;
    align-items: center;
    width: 100%;
}

.hero--line {
    border-top: 1px solid white;
    width: 80%;
    margin-top: -10px;
    opacity: 0.2;
}

.hero h1, .hero h2 {
    color: white;
    font-size: 4.4rem;
}

.hero p {
    font-size: 1.6rem;
    margin-bottom: 30px;
    margin-top: 20px;
}

.hero--uppercase {
    text-transform: uppercase;
    display: block;
    width: 50%;
}

.hero__bullets {
position: absolute;
bottom: 20px;
left: 50%;
}

/* ------- About us ------- */

.about {
    display: grid;
    grid-template-columns: 1fr 30% 40% 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        ". about images ."
    ;
    align-content: center;
    padding: 7rem 1rem 7rem 0;
    
}

.about__history {
    grid-area: about;
    
}

.about__images {
    grid-area: images;
    position: relative;
    margin: 0 0 0 20px;
    width: 100%;
    height: auto;
}

.about__image2 {
    left: 10%;
    top: 15%;
    position: absolute;
    width: 100%;
    height: auto;
}

.about__image1 {
    left: 50%;
    top: 30%;
    position: absolute;
    width: 100%;
    height: auto;
}

.about__redsquare {
    background-color: var(--primary-color);
    left: 35%;
    top: 20%;
    position: absolute;
    height: 320px;
    width: 370px;
}

.about__outlinesquare {
    border: 2px solid var(--light-color);
    left: 35%;
    top: 0;
    position: absolute;
    height: 370px;
    width: 320px;
}


/* ------- Exhibitions ------- */

.exhibitions {
    display: grid;
    grid-template-columns: 1fr 70% 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        ". wrapper ."
    ;
    background-color: var(--secondary-color);
    padding: 50px 0 50px 0;
    justify-content: center;
    text-align: center;
}

.exhibitions__grid {
    grid-area: wrapper;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "title title title"
        "exhib1 exhib2 exhib3"
    ;
    gap: 30px;
}

.exhibition {
    box-sizing: border-box;
    text-align: left;
}

.exhibitions_title {
    grid-area: title;
}

.exhibitions_title h2 {
    color: var(--light-color);
}

#exhib1 {
    grid-area: exhib1;
}

#exhib2 {
    grid-area: exhib2;
}

#exhib3 {
    grid-area: exhib3;
}

.exhibition img {
    width: 100%;
}

.exhibition h4 {
    color: var(--light-color);
}

.exhibition__thema {
    color: var(--primary-color);
    margin-top: 10px;
    margin-bottom: 0;
}

.exhibition__datemore {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.exhibition__date {
    text-transform: uppercase;
    color: var(--light-color);
}

.exhibition__separator {
    display: inline-block;
    border-left: 1px solid var(--lightGrey-color);
    height: 28px;
    width: 1px;
    margin: 0 10px 0 10px;
    opacity: 0.3;
}

.exhibition button {
    background-color: #393738;
}

/* ------- Events ------- */

.events {
    display: grid;
    grid-template-columns: 1fr 30% 40% 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        ". schedule list ."
    ;
    background-color: #F2EBE8;
    background-image: url('../media/home/event-bg-1-1.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0;
    padding: 5rem 0 2rem 0;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.events a {
    color: var(--secondary-color);
    font-size: 1.4rem;
    font-weight: 100;
    text-transform: uppercase;
}

.events a:hover {
    color: var(--primary-color);
}

.eventlists a i {
    color: var(--lightGrey-color);
    font-size: 1.4rem;
    font-weight: 100;;
}

.schedule {
    grid-area: schedule;
    color: var(--secondary-color);
    text-align: left;
}

.schedule h2 {
    margin-bottom: 60px;
}

.schedule__button {
    display: block;
    font-family: 'prata';
    font-size: 2.2rem;
    width: 80%;
    text-align: left;
    padding: 15px 20px 15px 20px;
    border: 1px solid #ebebeb;
    background-color: white;
    margin-bottom: 10px;

}

.schedule__button:hover {
    background-color: #ebebeb;
    color: var(--secondary-color);
}

.schedule__button--active {
    background-color: var(--primary-color);
    color: var(--light-color);
    border: 0;
}

.schedule__button i {
    float: right;
}

.schedule__viewall {
    display: block;
    margin-top: 50px;
}

.eventlist {
    grid-area: list;
    display: flex;
    flex-direction: column;
}

.eventlist__item {
    margin-bottom: 9rem;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.eventlist__item img {
    margin-right: 20px;
}

.eventlist__img {
    position: relative;
}

.eventlist__time {
    position: absolute;
    top: 160px;
    left: 18px;
    color: var(--primary-color);
    text-align: center;
}

.eventlist__time p {
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    font-size: 1.2rem;
}

.eventlist__time i {
    background-color: white;
    border-radius: 50%;
    padding: 5px;
    font-size: 1.8rem;
    position: absolute;
    left: 40%;
    bottom: 40px;
}

.eventlist__date {
    font-family: 'prata';
    text-transform: uppercase;
    overflow: auto;
}

.eventlist__number {
    font-size: 6.0rem;
    color: var(--primary-color);
    float: left;
    margin-right: 10px;
}

.eventlist__item p {
    font-size: 20px;
}

/* ----------- Member ---------- */

.member {
    background-image: linear-gradient(to left, rgba(217, 149, 120, 0.9), rgba(48, 46, 47, 0.9)),
                        url('../media/home/video-bg-1-1.jpg');
    background-repeat: repeat;
    background-position-y: 120%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        " image form"
    ;
    padding: 100px 0 100px 0;
}

.member__img {
    grid-area: image;
}

.member__img__wrapper {
    position: relative;
    height: 100%;
    width: 80%;
    float: right;
}

.member__img i {
    content: "<i class="fas fa-play"></i>";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    font-size: 7rem;
    color: white;
    z-index: 2;
}

.member__img img {
    width: 100%;
    right: 0;
    position: absolute;
    display: block;
}

.member__content {
    grid-area: form;
    padding-left: 10%;
    font-size: 2.0rem;
    color: white;
    width: 50%;
}

.member__content h2 {
    color: var(--light-color);
}

.member__content .btn {
    width: 100%;
}

.member__list {
    padding-left: 30px;
    margin-bottom: 50px;
}

.member__list li {
    list-style-image: url('../media/home/check-circle-regular.svg');
    margin-bottom: 15px;
    padding-left: 20px;
}

/* ----------- Collections ---------- */

.collections {
    display: grid;
    grid-template-columns: 1fr 70% 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        ". title ."
        ". collection ."
        ". all ."
    ;
    justify-content: center;
    text-align: center;
    margin: 12rem 0 7rem 0;
    color: var(--secondary-color);
}

.collections__title {
    grid-area: title;
}

.collection {
    grid-area: collection;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    margin-bottom: 5rem;
}

.collection__img {
    position: relative;
}

.collection__img:after {
    content: url("../media/home/collections-link-decor-1-1.png");
    position: absolute;
    bottom: -4.5rem;
    right: 2rem;
}

.collection__img img {
    width: 100%;
    height: 100%;
}

.collection__img:nth-child(1) {
    box-shadow: 11px 10px 2px 7px rgb(218 139 65 / 17%);
}

.collection__img:nth-child(2) {
    grid-column: 2/3;
    grid-row: 1/3;
    box-shadow: 11px 10px 2px 7px rgb(218 139 65 / 17%);
}

.collection__img:nth-child(3) {
    box-shadow: 11px 10px 2px 7px rgb(218 139 65 / 17%);
}

.collection__img:nth-child(4) {
    grid-column: 1/2;
    grid-row: 2/4;
    box-shadow: 11px 10px 2px 7px rgb(218 139 65 / 17%);
}

.collection__img:nth-child(5) {
    box-shadow: 11px 10px 2px 7px rgb(218 139 65 / 17%);
}

.collection__img:nth-child(6) {
    grid-column: 2/4;
    box-shadow: 11px 10px 2px 7px rgb(218 139 65 / 17%);
}

.collection__img h4 {
    position: absolute;
    bottom: 2rem;
    left: 3rem;
    color: var(--light-color);
    text-transform: capitalize;
    text-align: left;
}

.collection__link {
    position: absolute;
    bottom: -3rem;
    right: 3rem;
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    background-color: white;
    font-size: 3.5rem;
    font-weight: 100;
    color: var(--secondary-color);
    z-index: 2;
}

.collection__last {
    display: flex;
    grid-area: all;
    justify-content: center;
}

.collection__line {
    width: 6%;
    height: 2px;
    background-color: #c1b7b2;
}

.collection__right--angle {
    position: relative;
    top: -9px;
    left: -2px;
    color: #c1b7b2;
    font-size: 2.2rem;
}

.collection__view {
    position: relative;
    top: -12px;
    left: 11px;
    text-transform: uppercase;
    font-size: 17px;
    color: #c1b7b2;
}


/* -------------- Numbers ------------------ */

.numbers {
    background-color: var(--secondary-color);
    padding: 12.5rem 0 12.5rem 0;
    display: grid;
    grid-template-columns: 1fr 70% 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        ". wrapper ."
    ;
}

.numbers__list {
    grid-area: wrapper;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--light-color);
}

.numbers__list__item {
    display: flex;
    flex-direction: column;
}

.numbers__list__img {
    display: block;
    margin-bottom: 2rem;
    height: 6rem;
}

.numbers__list__exhib__box {
    display: flex;
}

.numbers__list__heading {
    font-family: 'prata';
    font-size: 5.0rem;
    margin-right: 10px;
    color: var(--light-color);
}

.numbers__list p {
    font-size: 1.9rem;
}

/* -------------- Testimonials ------------------ */

.testimonials {
    background-image: url('../media/home/testi-1-1-bg.jpg');
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 70% 1fr;
    grid-template-areas: 
        ". wrapper ."
    ;
    justify-items: center;
    text-align: center;
    padding: 7rem 0 7rem 0;
}

.testimonials__slider {
    grid-area: wrapper;
    width: 500px;
    height: 100%;
    overflow: hidden;
}

.testimonials__slides {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

.testimonials__slides::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.testimonials__slides::-webkit-scrollbar-thumb {
    background: none;
    border-radius: 10px;
}

.testimonials__slides::-webkit-scrollbar-track {
    background: transparent;
}

.testimonials__slide {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 500px;
    margin-right: 50px;
    transform-origin: center center;
    position: relative;
    text-align: center;
}

.testimonials__slider__slide__name {
    padding: 1.5rem 2rem 0.5rem 2rem;
    border-radius: 5px;
    background-color: white;
    max-width: 12rem;
    margin: 2rem auto 4rem auto;
    position: relative;
}

.testimonials__slide  img {
    border-radius: 50%;
    position: relative;
    margin-top: 2rem;
}

.testimonials__slide:after {
    content: url('../media/home/collections-link-decor-1-1.png');
    transform: scale(1.5, 1.5);
    position: absolute;
    top: 2.5rem;
    left: 21rem;
}

.testimonials--primary {
    color: var(--primary-color);
}

.testimonials__slider__slide__quote {
    font-family: 'prata';
    font-size: 3rem;
}

.testimonials__bullet {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
}

.testimonials__bullet__item {
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 1.5rem;
    background-color: var(--lightGrey-color);
}


/* ------------- Blog ------------- */

.blog {
    padding: 7rem 0 7rem 0;
    display: grid;
    grid-template-columns: 1fr 70% 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        ". title ."
        ". wrapper ."
    ;
    justify-content: center;
    text-align: center;
    
}

.blog__title {
    grid-area: title;
}

.blog__content {
    grid-area: wrapper;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
        "card col card"
    ;
    gap: 3rem;
}

.blog__content a {
    color: var(--lightGrey-color);
    text-transform: uppercase;
    font-size: 1.2rem;
}

.blog__content a:hover {
    color: var(--primary-color);
}

.blog__content__card {
    background-color: #fff;
    box-shadow:
        0 1.5px 5.3px rgba(0, 0, 0, 0.003),
        0 4.9px 17.9px rgba(0, 0, 0, 0.021),
        0 22px 80px rgba(0, 0, 0, 0.07)
    ;
    max-width: 450px;
    margin-top: 2rem;
}

.blog__content__card img {
    width: 100%;
}

.content__card__info {
    padding: 1rem 2rem 2rem 2rem;
    text-align: left;
}

.content__card__info hr {
    width: 25%;
    margin: 2rem 0 2rem 0;
    border: 1px solid #ebebeb;
}

.blog__content__card__date {
    float: right;
}

.blog__content__card__category {
    text-transform: uppercase;
    font-size: 1.2rem;
}

.blog__content__column2 {
    width: auto;
    max-width: 450px;
}

.content__card__info__bottom {
    bottom: 0;
}

.blog__content__quote {
    background-color: var(--primary-color);
    padding: 6rem 2rem 6rem 2rem;
    color: white;
    margin-top: 2rem;
    position: relative;
}

.blog__content__quote::after {
    content: '"';
    font-size: 10rem;
    position: absolute;
    bottom: -4rem;
    right: 3rem;
}

.blog__content__quote h4 {
    color: white;
    margin-bottom: 3rem;
}

.blog__content__quote a {
    color: white;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.blog__content__quote a:hover {
    color: white;
    opacity: 0.5;
}

/* ------------- Footer ------------- */

footer {
    background-image: url('../media/home/footer-bg-1-1.jpg');
    display: grid;
    grid-template-columns: 1fr 70% 1fr;
    grid-template-areas: 
        ". wrapper ."
    ;
    padding: 7rem 0 7rem 0;
    text-align: center;
    justify-items: center;
    font-size: 1.8rem;
}

.footer__grid {
    grid-area: wrapper;
    width: 50%;
}

.footer__logo {
    margin-bottom: 2rem;
}

.footer__input {
    display: table;
    border-collapse: collapse;
    width:100%;
}

.footer__input > div {
    display: table-cell;
    vertical-align: middle;  /* needed for Safari */
}

.footer__input__icon {
    background:var(--primary-color);
    color: white;
    padding: 0 12px;
    font-size: 2.2rem;
}

.footer__input__icon i {
    margin: 0 1rem 0 1rem;
}

.footer__input__button {
    background: white;
    padding: 0 12px;
    font-size: 2.2rem;
    border: 0;
    height: 60px;
    cursor: pointer;
}

.footer__input__button i {
    margin: 0 1rem 0 1rem;
}

.footer__input__button i {
    color: var(--secondary-color);
}

.footer__input__area {
    width:100%;
}

.footer__input input {
    border: 0;
    display: block;
    width: 100%;
    padding: 8px;
    height: 44px;
    font-size: 1.8rem;
}

.footer__social {
    list-style-type: none;
    display: flex;
    font-size:  1.8rem;
    justify-content: center;
    margin: 2rem 0;
}

.footer__social__item {
    margin-right: 2rem;
}

.footer__social__item:last-child {
    margin-right: 0;
}

.footer__social__item a {
    color: var(--lightGrey-color);
    transition: color 0.3s ease-in-out;
}

.footer__social__item a:hover {
    color: var(--primary-color);
}

.footer--primary {
    color: var(--primary-color);
}

