
/* ------------  Reset and set the styles ----------- */

@font-face {
    font-family: 'muli';
    src: url('../media/font/muli/Muli.ttf') format('truetype');
}

@font-face {
    font-family: 'prata';
    src: url('../media/font/Prata/Prata-Regular.ttf') format('truetype');
}

:root {
    --primary-color: #D99578;
    --dark-primary-color: #C26B46; 
    --secondary-color: #302E2F;
    --light-color: #F2EBE8;
    --lightGrey-color: #777777;
}

* {
    margin: 0;
    padding: 0;
    
}

html {
    box-sizing: border-box;
    font-family: 'muli';
    font-size: 62.5%;
    color: var(--lightGrey-color);
}

h1, h2, h3, h4 {
    font-family: 'prata';
    color: black;
    font-weight: 100;
}

h1 {
    font-size: 4.4rem;
    margin-bottom: 1.8rem;
}

h2 {
    font-size: 4.4rem;
    margin-bottom: 1.8rem;
}

h3 {
    font-size: 3.0rem;
    margin-bottom: 1.2rem;
}

h4 {
    font-size: 2.0rem;
}

p {
    font-size: 1.4rem;
    margin-bottom: 1.2rem;
}

.btn {
    padding: 15px;
    border-radius: 5px;
    border: none;
    font-size: 1.3rem;
    text-transform: uppercase;
    background: none;
    text-align: center;
}

.btn--primary {
    color: white;
    background-color: var(--primary-color);
    transition: background-color 0.2s ease-in-out;
}

.btn--primary:hover {
    color: white;
    background-color: var(--dark-primary-color);
}

.btn--black {
    color: white;
    background-color: var(--secondary-color);
}

.btn--white {
    color: var(--secondary-color);
    background-color: white;
    border: 1px solid var(--secondary-color);
}

.btn--white:hover {
    color: white;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.btn--outline {
    color: var(--lighGrey-color);
    border: 1px solid var(--lightGrey-color);
}

.text--primary {
    color: var(--primary-color);
}

.subtitle {
    display: inline-block;
    text-transform: uppercase;
    border-top: 2px solid var(--primary-color);
    padding-top: 8px;
}

a, a:hover, a:visited, a:active {
    text-decoration: none;
}

/* -------------- Header --------------- */

header nav {
    height: 140px;
    background-color: var(--secondary-color);
    display: grid;
    grid-template-columns: 1fr 70% 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        ". topnav ."
        ". bottomnav ."
    ;
    font-size: 1.6rem;
}

.topnav {
    grid-area: topnav;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topnav__opening {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topnav__opening i {
    color: var(--primary-color);
}

.topnav__separator {
    display: inline-block;
    border-left: 1px solid var(--lightGrey-color);
    height: 28px;
    width: 1px;
    margin: 0 10px 0 10px;
    opacity: 0.3;
}

.topnav__social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
}

.topnav__social button {
    padding: 10px;
}


header .separator {
    display: inline;
    border-left: 1px solid var(--lightGrey-color);
    height: 28px;
    width: 1px;
    opacity: 0.3;
}

.bottomnav {
    grid-area: bottomnav;
    border-top: 1px solid var(--lightGrey-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottomnav__logo {
    width: 200px;
}

.bottomnav__list {
    list-style-type: none;
    display: flex;
}

.bottomnav__list li {
    margin-right: 30px;
}

.bottomnav__list li a {
    color: var(--lightGrey-color);
}

.bottomnav__list li a:active {
    color: var(--primary-color);
}

.bottomnav__list li:last-child {
    margin-right: 0;
}

.bottomnav__list ul {
    list-style-type: none;
    display: flex;
}

.bottomnav__list ul li {
    margin-right: 10px;
}

.bottomnav__list ul li:last-child {
    margin-right: 0;
}





